svg {
    border: 1px solid #000000;
}

.arc text {
    font: 10px Arial, Georgia, sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #ffffff;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}
.big_hexagon{
    position: relative;
    z-index: 1;
}
.small_hexagon{
    position: relative;
z-index: 2;

}.hexagon {
     fill: white;
     pointer-events: all;
 }

.hexagon path {
    -webkit-transition: fill 250ms linear;
    transition: fill 250ms linear;
}

.hexagon :hover {
    fill: pink;
}

.hexagon .fill {
    fill: red;
}

.mesh {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    pointer-events: none;
}

.border {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    pointer-events: none;
}

.data1 {
    fill: none;
    stroke-width: 1;
    stroke: red;
}

.data2 {
    fill: none;
    stroke: orange;
}
.data3 {
    fill: none;
    stroke: blue;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.x.axis text {
    font-size: 14;
}
.y.axis1 line, .y.axis1 path, .y.axis1 text{
    fill: none;
    stroke: red;
}
.y.axis2 line, .y.axis2 path, .y.axis2 text{
    fill: none;
    stroke: orange;
}
.y.axis3 line, .y.axis3 path, .y.axis3 text{
    fill: none;
    stroke: blue;
}
.y.axis text {
    font-size: 14;
}
#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: Futura;
    font-size: 16px;
    line-height: 20px;
}
