svg {
    border: 1px solid #000000;
}

.arc text {
    font: 10px Arial, Georgia, sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #ffffff;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}
.big_hexagon{
    position: relative;
    z-index: 1;
}
.small_hexagon{
    position: relative;
    z-index: 2;

}.hexagon {
     fill: white;
     pointer-events: all;
 }
.hover_hexagon {
    fill: green;
    pointer-events: all;
}
.hexagon path {
    -webkit-transition: fill 250ms linear;
    transition: fill 250ms linear;
}

.hexagon :hover {
    fill: pink;
}

.hexagon .fill {
    fill: red;
}

.mesh {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    pointer-events: none;
}

.border {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    pointer-events: none;
}

.data1 {
    fill: none;
    stroke-width: 1;
    stroke: red;
}

.data2 {
    fill: none;
    stroke: green;
}
.data3 {
    fill: none;
    stroke: blue;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.x.axis text {
    font-size: 14;
}
.y.axis1 line, .y.axis1 path, .y.axis1 text{
    fill: none;
    stroke: red;
}
.y.axis2 line, .y.axis2 path, .y.axis2 text{
    fill: none;
    stroke: green;
}
.y.axis3 line, .y.axis3 path, .y.axis3 text{
    fill: none;
    stroke: blue;
}
.y.axis text {
    font-size: 14;
}
.small_selection_ball{

    stroke:magenta;
    stroke-width:2;
    stroke-dasharray:20.5;
}
#point_of_line1{
    fill: red;

}
#point_of_line2{
    fill: green;

}
#point_of_line3{
    fill: blue;

}
/*#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: Futura;
    font-size: 16px;
    line-height: 20px;
}*/

.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

.focus .circle1,.text_group1 circle {
    fill: #F1F3F3;
    stroke: red;
    stroke-width: 5px;
}
.focus .circle2,.text_group2 circle {
    fill: #F1F3F3;
    stroke: green;
    stroke-width: 5px;
}
.focus .circle3,.text_group3 circle {
    fill: #F1F3F3;
    stroke: blue;
    stroke-width: 5px;
}
.focus .circleX, .text_groupX circle {
    fill: white;
    stroke: black;
    stroke-width: 5px;
}

.test_area
{
    fill: green;
}
.test_area text
{
    font-size:100%;
}
.test_area .text1
{
    fill: red;
}
.test_area .text2
 {
     fill: red;
 }
.test_area .text3
  {
      fill: red;
  }